<div class="entity-list">
    <div class="header">
        <h2>Entidades</h2>
        <a routerLink="/entity/new" class="btn-primary">
            <ng-icon name="heroPlus"></ng-icon>
            Nova Entidade
        </a>
    </div>

    <div *ngIf="loading" class="loading">Carregando...</div>
    <div class="error">{{ error }}</div>

    <table *ngIf="!loading" class="entity-table">
        <thead>
            <tr>
                <th>Razão social</th>
                <th>Nome fantasia</th>
                <th>CNPJ</th>
                <th>Região</th>
                <th>Data de inauguração</th>
                <th>Ativo</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngIf="entities.length === 0">
                <td colspan="7">Ainda não existem entidades cadastradas</td>
            </tr>
            <tr *ngFor="let entity of entities">
                <td>{{ entity.corporate_name }}</td>
                <td>{{ entity.trade_name }}</td>
                <td>{{ entity.cnpj }}</td>
                <td>{{ entity.region.name }}</td>
                <td>{{ entity.inauguration_date | date:'dd/MM/yyyy' }}</td>
                <td>{{ entity.active ? 'Ativo' : 'Inativo' }}</td>
                <td>
                    <button (click)="onEdit(entity.id)" class="btn-action" [disabled]="loading">
                        <ng-icon name="heroPencilSquare"></ng-icon>
                    </button>
                    <button (click)="onDelete(entity.id)" class="btn-action delete" [disabled]="loading">
                        <ng-icon name="heroTrash"></ng-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!loading && !entities.length" class="empty">
        Não existem entidades registradas.
    </p>
</div>